# ignore iPython notebook checkpoints
*.ipynb_checkpoints*

# ignore OSX Folder settings
*.DS_Store

# pycharm stuff
*.idea*

# dynamically created dirs
images*
downloaded_images*

# dynamically created files
*__pycache__*
*__version__.py
*__branch__.py
*__gitlog__.py


# AWS Credentials
*secret.yaml